.flyover {
  margin-top:-1000px;
   overflow: hidden;
   position: fixed;
   width: 25%;
   opacity: 10;
   z-index: 10;
   transition: all 1s ease;
}
 
.flyover.in {
  margin-top: 240px;
  margin-left: 15px;     

}

.hid{
    display:none;
  }