html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote:before, blockquote:after,table {	border-collapse: collapse;border-spacing: 0;}
fieldset legend{margin-left: 20px;}
fieldset legend h2{}
form{margin: 25px;}
.cls{clear:both;border-bottom: 0px;padding: 0px}
form div{border-bottom: dotted 1px #ccc;padding: 15px;}
h2{font-size: 20px;}
h3{font-size: 16px;}
h4{font-size: 14px;}
.backup_main{font-size: 12px;font-family: verdana;width:1040px;margin:auto}
.backup_list{ background: #FFFFFF;width:500px;min-height: 389px;height: auto; padding: 10px;float:left }
.main{ position:relative; background: #FFFFFF;width:500px;height: auto; padding: 10px;font-size: 12px;font-family: verdana;float:left }
fieldset{border:solid 1px #ccc;}
div > label{font-weight: bold;width:150px;display: inline-block}
input[type="submit"]{width: 150px;cursor: pointer;height: 35px;font-size: 14px;border: 1px #ccc solid; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; -webkit-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; }
table{width:500px;margin-bottom: 100px;border: solid 1px #ccc;border-collapse: collapse}
table > thead > tr > th {ext-align: left;border-bottom: 1px #ccc solid;border-right: 1px #ccc solid;}
table > tbody > tr > td {ext-align: left;border-bottom: 1px #ccc solid;border-right: 1px #ccc solid;height: 20px;line-height: 20px;padding:5px}
table > tbody > tr > td img:hover {width:14px;height: 14px; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; -webkit-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; }
a.tooltips {  position: relative;  display: inline;}
a.tooltips span {position: absolute;width:140px;color: #000000;background: #FFFFFF;border: 2px solid #CCCCCC;height: 32px;line-height: 32px;text-align: center;visibility: hidden;border-radius: 6px;box-shadow: 0px 0px 7px #808080;}
a.tooltips span:before {content: '';position: absolute;top: 100%;left: 50%;margin-left: -12px;width: 0; height: 0;border-top: 12px solid #CCCCCC;border-right: 12px solid transparent;border-left: 12px solid transparent;}
a.tooltips span:after {content: '';position: absolute;top: 100%;left: 50%;margin-left: -8px;width: 0; height: 0;border-top: 8px solid #FFFFFF;border-right: 8px solid transparent;border-left: 8px solid transparent;}
a:hover.tooltips span {visibility: visible;opacity: 1;bottom: 30px;left: 50%;margin-left: -76px;z-index: 999;}      