/*GROW*/
.grow img {
  height: 30px;
  width: auto;
 
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
 
.grow img:hover {
  height: 50px;
  width: auto;
}

  
