body {
	margin: 0;
	background-color: #eaedf1;
}


.clock-wrapper {
	background-color: white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-bottom: 10px;
}

.clock {
	width: 20%;
	margin: 0 auto;
	font-size: 30px;
	color: black;
	text-align: center;
	font-weight: 300;
	padding-top:20px; 
	height:80px;
}

.separator {
	font-size: 40px;
	color: white;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.separator2 {
	width: 10px;
	height: 100%;
	float: left;
}


.hours-wrapper {
	float: left;
}

.hours-text {
	font-size: 14px;
	font-weight: normal;
}


.minutes-wrapper {
	float: left;
}

.minutes-text {
	font-size: 14px;
	font-weight: normal;
}

.seconds-wrapper {
	float: left;
}

.seconds-text {
	font-size: 14px;
	font-weight: normal;
}

.AMPM-wrapper {
	float: left;
}

.AMPM-text {
	font-size: 14px;
	font-weight: normal;
}

